<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>板块跟踪</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="./common.css">
    <script src="./echarts.min.js"></script>
    <script src="./common.js"></script>
    <script src="./bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="header">
            <h1>
                <i class="fas fa-money-bill-trend-up"></i>
                板块/个股涨跌幅分析
            </h1>
            <p>查询特定时间段的板块/个股涨跌幅</p>
        </div>
        <div class="form-container">
            <div class="form-header">
                <i class="fas fa-sliders-h"></i>
                <h2>筛选条件设置</h2>
            </div>
            <form id="search-form">
                <div class="form-grid">
                    <!-- 板块名称 -->
                    <div class="form-group">
                        <label class="form-label" for="sector-name">
                            <i class="fas fa-tag"></i>
                            <span>板块名称</span>
                        </label>
                        <input list="sector-options" type="text" id="sector-name" class="form-control" placeholder="请输入或选择板块名称" value="">
                        <datalist id="sector-options">
                            <!-- javascript来生成数据 -->
                        </datalist>
                        <span class="form-hint">支持输入搜索，从下拉列表选择或自定义输入</span>
                    </div>
                    
                    <!-- 截止日期 -->
                    <div class="form-group">
                        <label class="form-label" for="end-date">
                            <i class="fas fa-calendar-alt"></i>
                            <span>截止日期</span>
                        </label>
                        <input type="date" id="end-date" class="form-control" value="">
                    </div>
                    
                    <!-- 查询天数 -->
                    <div class="form-group">
                        <label class="form-label" for="days">
                            <i class="fas fa-clock"></i>
                            <span>查询天数</span>
                        </label>
                        <input type="number" id="days" class="form-control" placeholder="例如：30" min="1" max="365" value="30">
                    </div>

                    <div class="form-group full-width">
                        <div style="display: flex; justify-content: flex-end; ">
                            <button type="submit" class="submit-btn">
                                <i class="fas fa-search"></i>
                                <span>查询</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- 结果表格 -->
        <div id="result-container" class="table-container" style="display: none;">
            <div class="table-header">
                <h2 class="table-title">
                    <i class="fas fa-table"></i>
                    <span>板块/个股涨跌幅</span>
                </h2>
                <!-- 表格顶部按钮 -->
                <div class="table-actions">
                    <button id="showAllCodeBtn" class="table-action-btn">
                        <i class="fas fa-eye"></i>
                        <span>点击遍历</span>
                    </button>
                </div>
            </div>
            
            <table class="table-content-header">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>涨跌幅</th>
                        <th>主力净流入</th>
                        <th>超大单净流入</th>
                        <th>大单净流入</th>
                        <th>中单净流入</th>
                        <th>小单净流入</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="result-tbody">
                    <!-- 动态生成 -->
                </tbody>
            </table>
            
            <div id="empty-result" class="empty-state" style="display: none;">
                <i class="fas fa-database"></i>
                <h3>暂无数据</h3>
                <p>请尝试调整查询条件后重新提交</p>
            </div>
        </div>
    </div>

    <!-- 4. 模态框结构 -->
    <!-- 注意：Bootstrap 模态框有清晰的三层结构：modal -> modal-dialog -> modal-content -->
    <div class="modal fade" id="inflowModal" tabindex="-1" style="color: black">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">资金流向图</h5>
                    <!-- 关闭按钮，data-bs-dismiss="modal" 是关键 -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框主体（你的图表放在这里） -->
                <div class="modal-body">
                    <div id="chart-container" style="height: 500px;">
                        <!-- ECharts 图表容器 -->
                        <div id="chart-inflow" class="chart"></div>
                    </div>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    资金流向数据为起始日期开始的累积, 用于展示在查询时间区间内资金的累积变化趋势.
                </div>
            </div>
        </div>
    </div>

    <script>
        // 获取DOM元素
        const sectorOptions = document.getElementById("sector-options");
        const form = document.getElementById('search-form');
        const sectorName = document.getElementById('sector-name');
        const searchBtn = document.getElementById('searchBtn');
        const showAllCodeBtn = document.getElementById('showAllCodeBtn');
        const resultContainer = document.getElementById('result-container');
        const resultTbody = document.getElementById('result-tbody');
        const optionsList = document.getElementById('optionsList');
        const days = document.getElementById('days');
        const endDate = document.getElementById('end-date');
        const emptyResult = document.getElementById('empty-result');

        // 模态框
        const modalTitle = document.getElementById('modalTitle');

        let industryList = [];
        let industryMap = {};
        let selectedIndustry = null;
        let selectedStock = null;
        let industryTrendList = [];
        let stockTrendList = [];
        let openAllCodeListIndex = 0;
        let globalBtnType = BTN_TYPE_INDUSTRY;

        function generateIndustryData() {
            let resp = getIndustryBasicData();
            resp.then(data => {
                data.forEach(item => {
                    industryList.push(item);
                    industryMap[item.industry_name] = item.industry_code;
                });
                generateIndustryOptions();
                initParamEvents();
            });
        }

        function generateIndustryOptions() {
            industryList.forEach(item => {
                let option = document.createElement("option");
                option.value = item.industry_name;
                option.code = item.industry_code;
                sectorOptions.appendChild(option);
            });
        }

        // 生成模拟K线数据
        function generateCandleData() {
            let sectorNameValue = sectorName.value.trim();
            let industryCode = industryMap[sectorNameValue];
            if (!industryCode) {
                industryCode = "";
            };
            let keepDays = days.value;
            let endDateValue = endDate.value;

            let resp = getIndustryTrendData(industryCode, keepDays, endDateValue);
            resp.then(data => {
                industryTrendList = data.industry_price_trend;
                stockTrendList = data.industry_code_trend;
                renderTable(data);
            });
        }

        function renderInflowChart(priceTrendList) {
            const chartInflowNode = document.getElementById('chart-inflow');
            let chartInflow = echarts.init(chartInflowNode);
            
            let nameList = ["主力净流入", "超大单净流入", "大单净流入", "中单净流入", "小单净流入"];
            let option = {
                title: {
                    text: "资金流向",  // 图表标题
                    left: 'center',        // 标题居中
                    textStyle: {
                        color: 'white',
                        fontSize: 20,
                        fontWeight: 'bolder',
                        fontFamily: 'Arial, sans-serif',
                        textShadow: '0 2px 4px rgba(0,0,0,0.2)' // 可选文字阴影
                    }
                },
                tooltip: {                // 提示框
                    trigger: 'axis'       // 触发方式：坐标轴
                },
                legend: {                 // 图例
                    data: nameList,     // 系列名称
                    bottom: 10,            // 图例位置（底部）
                    textStyle: {
                        color: 'black',
                        fontSize: 15,
                        fontWeight: 'bolder',
                        fontFamily: 'Arial, sans-serif',
                        textShadow: '0 2px 4px rgba(0,0,0,0.2)' // 可选文字阴影
                    }
                },
                xAxis: {
                    type: 'category',    // 类目轴（离散数据）
                    data: [...priceTrendList.map(item => item.date)]  // X轴数据
                },
                yAxis: {
                    type: 'value'         // 数值轴
                },
                series: []
            };
            let dataList = new Array(3);
            for (let i = 0; i < nameList.length; i++) {
                dataList[i] = [];
            }
            for (let i = 0; i < priceTrendList.length; i++) {
                dataList[0].push(priceTrendList[i].main_inflow_amount);
                dataList[1].push(priceTrendList[i].extreme_large_inflow_amount);
                dataList[2].push(priceTrendList[i].large_inflow_amount);
                dataList[3].push(priceTrendList[i].medium_inflow_amount);
                dataList[4].push(priceTrendList[i].small_inflow_amount);
            }
            for (let i = 0; i < dataList.length; i++) {
                option.series.push({
                    name: nameList[i],
                    type: 'line',         // 折线图类型
                    data: [...dataList[i]],  // Y轴数据
                    smooth: true,          // 平滑曲线
                    areaStyle: {           // 填充区域
                        color: 'rgba(64, 158, 255, 0.2)'
                    },
                    lineStyle: {           // 线条样式
                        width: 3,
                        color: '#1890FF'
                    },
                    symbol: 'circle',     // 数据点形状
                    symbolSize: 10
                });
            }
            // 清理原先的图表数据
            chartInflow.setOption({}, true);
            chartInflow.setOption(option);
        }

        function showIndustryTrendChart(code, inflowType) {
            var priceTrend = null;
            let name = "";
            if (inflowType == INDUSTRY_INFLOW) {
                for (let i = 0; i < industryTrendList.length; i++) {
                    if (industryTrendList[i].industry_code === code) {
                        priceTrend = industryTrendList[i];
                        break;
                    }
                }
                name = priceTrend.industry_name;
            } else {
                for (let i = 0; i < stockTrendList.length; i++) {
                    if (stockTrendList[i].stock_code === code) {
                        priceTrend = stockTrendList[i];
                        break;
                    }
                }
                name = priceTrend.stock_name;
            }
            if (priceTrend == null) {
                return;
            }
            let startDate = "";
            let endDate = "";
            if (priceTrend.price_trend_list != null && priceTrend.price_trend_list.length > 0) {
                startDate = priceTrend.price_trend_list[0].date;
                endDate = priceTrend.price_trend_list[priceTrend.price_trend_list.length - 1].date;
            }
            modalTitle.innerHTML = `${name}  ${startDate} 至 ${endDate} 资金流向图`;
            document.getElementById('inflowModal').addEventListener('shown.bs.modal', function () {
                // 这个事件触发时，模态框的DOM已经完全可见, 这个时候才能init echarts实例.
                renderInflowChart(priceTrend.price_trend_list);
            });
        }

        function renderTable(data) {
            // 滚动到结果容器
            resultContainer.focus();
            resultContainer.scrollIntoView({ behavior: 'smooth' });

            let endDateValue = endDate.value;
            resultContainer.style.display = 'block';
            resultTbody.innerHTML = '';
            if (data.industry_price_trend != null) {
                if (data.industry_price_trend.length == 0) {
                    emptyResult.style.display = 'block';
                    return;
                }
                initShowAllCodeBtn(BTN_TYPE_INDUSTRY);
                data.industry_price_trend.forEach(item => {
                    const tr = document.createElement('tr');
                    const firstPriceTrend = item.price_trend_list[0];
                    const lastPriceTrend = item.price_trend_list[item.price_trend_list.length - 1];
                    tr.innerHTML = `
                        <td>
                            <div class="stock-info">
                                <span class="stock-name">${item.industry_name}</span>
                                <span class="stock-code">${item.industry_code}</span>
                            </div>
                        </td>
                        <td>${firstPriceTrend.date}</td>
                        <td>${lastPriceTrend.date}</td>
                        <td>${formatChange(lastPriceTrend.price)}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.main_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.extreme_large_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.large_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.medium_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.small_inflow_amount))}</td>
                        <td class="action-links">
                            <a href="https://quote.eastmoney.com/bk/90.${item.industry_code}.html#fullScreenChart" target="_blank" title="查看走势">
                                <i class="fas fa-chart-line"></i>走势
                            </a>
                            <a href="./industry_trend.html?industry_name=${item.industry_name}&keep_days=${days.value}&end_date=${endDateValue}" target="_blank" title="查看详情">
                                <i class="fas fa-info-circle"></i>详情
                            </a>
                            <button class="chart-btn" onclick="showIndustryTrendChart('${item.industry_code}', '${INDUSTRY_INFLOW}')" data-bs-toggle="modal" data-bs-target="#inflowModal"'>
                                <i class="fas fa-chart-pie"></i>资金图
                            </button>
                        </td>
                    `
                    resultTbody.appendChild(tr);
                });
            } else if (data.industry_code_trend != null) {
                if (data.industry_code_trend.length == 0) {
                    emptyResult.style.display = 'block';
                    return;
                }
                initShowAllCodeBtn(BTN_TYPE_STOCK);
                data.industry_code_trend.forEach(item => {
                    const tr = document.createElement('tr');
                    const firstPriceTrend = item.price_trend_list[0];
                    const lastPriceTrend = item.price_trend_list[item.price_trend_list.length - 1];
                    tr.innerHTML = `
                        <td>
                            <div class="stock-info">
                                <span class="stock-name">${item.stock_name}</span>
                                <span class="stock-code">${item.stock_code}</span>
                            </div>
                        </td>
                        <td>${firstPriceTrend.date}</td>
                        <td>${lastPriceTrend.date}</td>
                        <td>${formatChange(lastPriceTrend.price)}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.main_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.extreme_large_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.large_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.medium_inflow_amount))}</td>
                        <td>${formatMoney2(formatAmountSmart(lastPriceTrend.small_inflow_amount))}</td>
                        <td class="action-links">
                            <a href="https://xueqiu.com/S/${item.stock_code}" target="_blank" title="查看详情">
                                <i class="fas fa-info-circle"></i>详情
                            </a>
                            <button class="chart-btn" onclick="showIndustryTrendChart('${item.stock_code}', '${STOCK_INFLOW}')" data-bs-toggle="modal" data-bs-target="#inflowModal"'>
                                <i class="fas fa-chart-pie"></i>资金图
                            </button>
                        </td>
                    `
                    resultTbody.appendChild(tr);
                });
            }
        }

        function initParamEvents() {
            const paramsMap = getUrlParamsMap();
            let needRemoteData = false;
            if (paramsMap.has('industry_name')) {
                sectorNameValue = paramsMap.get('industry_name');
                sectorName.value = sectorNameValue
                needRemoteData = true;
            }
            if (paramsMap.has('keep_days')) {
                days.value = paramsMap.get('keep_days');
                needRemoteData = true;
            }
            if (paramsMap.has('end_date')) {
                endDate.value = paramsMap.get('end_date');
                needRemoteData = true;
            }
            if (needRemoteData) {
                generateCandleData();
            }
        }

        function initShowAllCodeBtn(btnType) {
            openAllCodeListIndex = 0;
            showAllCodeBtn.style.display = 'inline-block';
            globalBtnType = btnType;
        }

        function openAllCodeList() {
            if (globalBtnType === BTN_TYPE_INDUSTRY) {
                for (let i = openAllCodeListIndex * MAX_OPEN_CODE_COUNT; i < industryTrendList.length && i < (openAllCodeListIndex + 1) * MAX_OPEN_CODE_COUNT; i++) {
                    let openUrl = "https://quote.eastmoney.com/bk/90." + industryTrendList[i].industry_code + ".html#fullScreenChart";
                    const delay = Math.floor(Math.random() * 1000);
                    setTimeout(() => {
                        window.open(openUrl, '_blank');
                    }, delay);
                }
            } else if (globalBtnType === BTN_TYPE_STOCK) {
                for (let i = openAllCodeListIndex * MAX_OPEN_CODE_COUNT; i < stockTrendList.length && i < (openAllCodeListIndex + 1) * MAX_OPEN_CODE_COUNT; i++) {
                    let openUrl = "https://xueqiu.com/S/" + stockTrendList[i].stock_code;
                    // 为了防止雪球请求太高, 会要求用户验证, 所以这里设置一个随机延迟
                    const delay = Math.floor(Math.random() * 1000);
                    setTimeout(() => {
                        window.open(openUrl, '_blank');
                    }, delay);
                }
            }
            openAllCodeListIndex++;
        }

        // 搜索按钮提交后的操作
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            generateCandleData();
        });

        showAllCodeBtn.addEventListener('click', () => {
            openAllCodeList();
        });

        generateIndustryData();
    </script>
</body>
</html>